$border-radius: 3px;
$border-width: 1px;

$text-transform: uppercase;
$btn-color: #34495e;
$btn-text-color: #ffffff;
$red-color: #f44336;
$btn-light: #617181;

$base-font: 16px;

$btn-disabled-text: #cdcdcd;
$btn-disabled: #ececec;

$input-border-color: #34495e;
$input-border: solid $border-width $input-border-color;

$spacing: 20px;

$skill-border: #f4f5f6;
$skill-border-width: 3px;
$skill-relevant-number: #25333c;
$skill-regular-number: #80878b;
$skill-hover-number: #1a998e;
$skill-experience: #667075;
$skill-remove-color: #bec2c5;
$skill-remove-size: 30px;

$page-size: 90px 40px;
